<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org">

<body>
<span>
        안녕하세요, <span th:text="${receiverEmail}"/>님.<br/><br/>

        <span th:text="${params.senderName}"/>님께서 당신을 프로젝트 "<span th:text="${params.projectName}"/>"에 초대하였습니다.<br/><br/>

        프로젝트에 참여하려면 아래 링크를 클릭하세요:<br/>
        <a th:href="${params.link}" th:text="${params.link}"></a>

        <br/><br/>

        프로젝트에 대한 더 자세한 정보나 질문이 있으시면 <span th:text="${params.senderEmail}"/>로 문의해 주세요.<br/><br/>

        감사합니다.<br/>
        <span th:text="${params.senderName}"/> 드림<br/><br/>

        -----------------------------------------------------------------<br/><br/>

        <img th:src="@{'https://soundary.s3.ap-northeast-2.amazonaws.com/Logo.png'}"/><br/>
    </span>
</body>

</html>