<!DOCTYPE html>
<html lang="ko" xmlns:th="https://thymeleaf.org">

<body>
<span>
안녕하세요, <span th:text="${receiverEmail}"/>님.<br/><br/>

Soundary 계정의 비밀번호를 재설정하려면 아래 링크를 클릭하세요:<br/>
<a th:href="${params.link}" th:text="${params.link}"></a><br/><br/>

이 요청을 본인이 하지 않은 경우, 이 이메일을 무시하셔도 됩니다.<br/><br/>

비밀번호 재설정 링크는 30분 동안 유효하며, 그 이후에는 다시 요청해 주셔야 합니다.<br/><br/>

감사합니다.
Soundary 팀 드림<br/>
-----------------------------------------------<br/><br/>

<img th:src="@{'https://soundary.s3.ap-northeast-2.amazonaws.com/Logo.png'}"/>
</span>
</body>

</html>